BasedOnStyle: WebKit

# This is the closest I could get to the original formatting of the source files,
# but it still left us with >500 lines changed in src/FSViewer.c for example,
# so I decided to scrap it.

# BasedOnStyle: Mozilla
# IndentWidth: 4
# UseTab: Never
# TabWidth: 8
# AlignConsecutiveAssignments: false
# AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
# AlignConsecutiveMacros: AcrossEmptyLinesAndComments
# IndentPPDirectives: None
# DerivePointerAlignment: false
# PointerAlignment: Right
# ReferenceAlignment: Right
# AlignAfterOpenBracket: Align
# SortIncludes: Never
# IncludeBlocks: Preserve
# AlwaysBreakAfterReturnType: TopLevelDefinitions
# BreakBeforeBraces: Allman
# AllowShortBlocksOnASingleLine: Never
# AllowShortIfStatementsOnASingleLine: Never
# SpaceAfterCStyleCast: true
# SpaceBeforeAssignmentOperators: true
